@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

@keyframes changecolor {
  0%{
    border: 3px solid #FF010B;
  }
  50%{
    border: 3px solid #1C2125;
  } 
  100%{
    border: 3px solid #FF010B;
  } 
}

@keyframes mclaren-blink {
  0%{
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  30%{
    opacity: 0;
  }
  45%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
:root{
  --bg-main: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(186,193,193,0.15) 31%, rgba(186,193,196,0.15) 100%);
}

img{
  width: 100% !important;
}

nav a{
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: rgba(28, 33, 37, 0.5);
}

b{
  font-weight: 700 !important;
}

ul{
  list-style-type: none;
  padding: 0 !important;
}

nav a:hover{
  color: black;
}

.navbar{
  padding-top: 30px;
  padding-bottom: 50px;
}

.navbar-brand img{
  max-width: 144px;
}

.lang-changer a{
  font-weight: 700;
  color: #FF010B;
}

.header-login-link{
  color: black;
  transition: 0.3s;
  font-weight: 700;
}

.header-login-link:hover{
  color: #FF010B;
}

.header-signup, .btn-reversed, .btn{
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  padding: 15px 30px;
  color: #FFFFFF;
  display: inline-block;
  background: #1C2125;
  border-radius: 100px;
  text-decoration: none;
  text-align: center;
  border: 0;
  transition: 0.3s;
}

.header-signup:hover, .btn-reversed:hover{
  background: #FF010B;
}

.btn{
  background: #FF010B;
  color: white;
}

.btn:hover{
  background: #1C2125;
  color: #FFFFFF;
}

.top-box-title{
  font-size: 48px;
  line-height: 55px;
  font-weight: bold;
  color: rgb(28 33 37 / 75%);
  margin: 0 0 5px;
}

body{
  background: var(--bg-main);
  min-height: 100vh;
  
}

h1, p, body *{
  font-family: "Montserrat", sans-serif !important;
}

.nav-links-list{
  list-style-type: none;
}

.nav-links{
  position: relative;
  top: -20px;
}

.nav-links > *{
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-links-list li{
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.top-box-title span{
  font-size: 64px;
  line-height: 73px;
}

.top-box-desc{
  font-weight: 300;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 30px;
  margin-top: 0;
  color: #1C2125;
}

.top-box-desc b{
  color: #FF010B;
  white-space: nowrap;
}

.top-box-btn{
  width: 223px;
}
.top-box-title span{
  font-size: 64px;
  line-height: 73px;
}

.top-box-desc{
  font-weight: 300;
  font-size: 22px;
  line-height: 27px;
  margin: 30px 0px;
  color: #1C2125;
}

.top-box-desc b{
  color: #FF010B;
  white-space: nowrap;
}

.top-box .btn{
  width: 223px;
}

.mclaren-box{
  position: relative;
  left: -190px;
  top: 80px;
}

.mc-laren{
  position: absolute;
}

.mc-laren-lights{
  position: absolute;
  animation-name: mclaren-blink;
  animation-duration: 3s;
  animation: mclaren-blink 1.5s linear 0s infinite alternate;
}

@media screen and (min-width: 1240px) {
  .mc-laren, .mc-laren-lights{
    width: 800px !important;
  } 
}

@media screen and (max-width: 1240px){
  .mc-laren, .mc-laren-lights{
    width: 115% !important;
  } 

  .mclaren-box{
    left: -60px;
    top: 60px;
  }

  .top-box-title{
    font-size: 42px;
  }

  .top-box-title span{
    font-size: 60px;
  }

  .top-box-desc {
    font-size: 20px;
  }
  
  .video-bx{
    margin-top: 100px !important;
  }
}

.video-bx{
  position: relative;

  width: 100%;
  height: 600px;
  
  background-image: url("images/mclaren-overlay.webp");
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  margin-top: 250px;
  margin-bottom: 40px;
  padding: 50px;
}

.video-bx .tt{
  color: #FFFFFF;
  z-index: 2;
  position: relative;
}

.video-bx .tt .t1{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}

.video-bx .tt .t2{
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background: black;
  border-radius: 50px;
  height: 600px;
  width: 100%;
}

.img-play{
  position: absolute;

  width: 100px;
  height: 100px;

  top: calc(50% - 50px);
  left: calc(50% - 50px);

  z-index: 2;
}

.history-box{
  padding: 50px 0 120px;
  position: relative;
  max-width: 676px;
  margin: 0 auto;
  text-align: center;
}

h3{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 28px;
}

.history-box .text p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  color: #1C2125;
}

.tab-bx{
  margin-top: 60px;
}

.box{
  border-radius: 50px;
  background: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.box-data{
  padding-top: 22px;
  text-align: left;
}

.control-left{
  background-image: url(images/left.svg);
  width: 38px;
  height: 38px;
  box-shadow: 0 0 15px 0 rgba(255,0,0,.5);
  border-radius: 50%;
  cursor: pointer;
}

.control-right{
  background-image: url(images/left.svg);
  transform: rotate(180deg);
  width: 38px;
  height: 38px;
  box-shadow: 0 0 15px 0 rgba(255,0,0,.5);
  border-radius: 50%;
  cursor: pointer;
}

.box .t1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 6px;
}

.box .t2 {
  font-weight: 300;
  font-size: 16px;
  height: 42px;
  line-height: 1.3;
  color: #1C2125;
}

.tabs {
  background: #FFF;
  border-radius: 45px;
  padding: 60px 80px;
  overflow: hidden;
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;

  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: rgba(28, 33, 37, 0.5);
}

.tabs li{
  margin-left: 2px;
  margin-right: 2px;
}

.tabs .bx {
  background: linear-gradient(180deg, #F3F5F9 0%, #E3E8F0 100%);
  border-radius: 5px;
  height: 250px;
  width: 66px;
  margin-top: 20px;
}

.tabs li:nth-child(1) .bx {
  height: 70px;
  margin-top: 250px;
}

.tabs li:nth-child(2) .bx {
  height: 100px;
  margin-top: 220px;
}

.tabs li:nth-child(3) .bx {
  height: 130px;
  margin-top: 190px; 
}

.tabs li:nth-child(4) .bx {
  height: 160px;
  margin-top: 160px;
}

.tabs li:nth-child(5) .bx {
  height: 190px;
  margin-top: 130px;
}

.tabs li:nth-child(6) .bx {
  height: 220px;
  margin-top: 100px;
}

.tabs li:nth-child(7) .bx {
  height: 250px;
  margin-top: 70px;
}

.tabs:after{
  content: "";
  height: 208px;
  background: url(images/grafik.svg) 0 0 no-repeat;
  width: 98%;
  position: absolute;
  left: 80px;
  bottom: 60px;
  transition: all 1s linear;
}

.active-bar{
  font-weight: bold;
  color: #FF010B;
}

.active-bar .bx{
  background: linear-gradient(180deg, rgba(255, 1, 11, 0.04) 0%, rgba(255, 1, 11, 0.76) 100%);
}

.experience .container{
  position: relative;
}

.experience-box{
  position: relative;
  background: #1C2125 url(images/cir.png) 0 60px no-repeat;
  border-radius: 60px;
  color: #fff;
  padding: 120px 120px;
  height: 100%;
  width: 100%;
  margin-bottom: 60px;
}

.experience-box .text{
  text-align: center;
}

.experience-box .text p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
}

.exp-rows{
  margin-top:50px;
  margin-bottom: 50px;
}

.experience-box .image{
  margin-top: 20px;
}

.exp-rows-text{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.3;
  color: white;
  display: flex;
  align-items: center;
}

.program-box{
  padding: 0 0 60px 0;
}

.program-box .frame {
  text-align: center;
  background: #FFFFFF;
  border-radius: 60px;
  padding: 80px 40px;
  height: 100%;
}

.program-box h3 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}

.program-box .bx {
  margin-bottom: 25px;
}

.program-box .t1 {
  font-weight: bold;
  font-size: 30px;
  color: #FF010B;
}

.program-box .t2 {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 5px;
}

.program-box .t3 {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 300;
}

.confa-bx {
  position: relative;
  background: #1C2125;
  border-radius: 60px;
  padding: 130px 115px 75px;
}

.confa-bx .text-bx {
  text-align: center;
  margin-bottom: 70px;
}

.confa-bx .text-bx .t1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
}

.confa-bx .text-bx .t2 {
  font-weight: 300;
  font-size: 21px;
  line-height: 1.3;
  color: #FFFFFF;
}

.confa-slider{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-img{
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 17px;
}

.slider-arrows{
  font-size: 60px;
  cursor: pointer;
}

.slider-img img{
  width: 100%;
}

.slider-info{
  font-weight: 300;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  padding: 30px 100px;
}

.slider-dots{
  margin: 20px 10px;
  padding: 0 !important;
}

.slider-dots li{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
  border-radius: 10px;
  width: 10px !important;
  height: 10px !important;
}

.slider-dots .not-filled{
  border: 1px solid white;
  cursor: pointer;
}

.slider-dots .filled{
  background: #FF010B;
  border: 1px solid #FF010B;
}

.search-box{
  padding: 120px 0 150px;
}

.search-box .container{
  position: relative;
}

.search-box .text-bx {
  text-align: center;
  margin-bottom: 40px;
}

.search-box .text-bx h3 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.search-box .text-bx p {
  margin: 0;
  font-weight: 300;
  font-size: 19px;
  line-height: 1.3;
  color: #1C2125;
}

.list{
  margin: 0 -10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.search-box .list li {
  margin: 0 10px -10px;
  width: calc(33.3333% - 20px);
}

.search-box .frame {
  text-align: center;
  background: #FFFFFF;
  border-radius: 45px;
  height: 215px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box .frame .t1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
  height: 63px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.bottom-bx {
  text-align: center;
  background: #1C2125;
  border-radius: 60px;
  padding: 80px 20px 60px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

.bottom-bx .text {
  margin-bottom: 50px;
}

.bottom-bx .text h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.social {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
}

.social li {
  margin: 0 35px;
  transition: all 0.5s ease;
  max-width: 60px;
}

.history-box .tabs{
  padding: 60px 80px !important;
}

@media (min-width: 1100px){
  .container {
      max-width: 1094px;
  }
}

@media screen and (max-width: 991px){
  .top-box-title, .top-box-desc{
    text-align: center;
  }

  .uz{
    display: none;
  }

  .experience .uz, .bottom-box .uz{
    display: block;
  }

  .navbar-brand img {
    max-width: 80px;
  }
  .navbar .container{
    align-items: end;
  }

  .mc-laren, .mc-laren-lights {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;

    left: 0;
    right: 0;
  }

  .mclaren-box{
    height: 329px;
  }

  .mclaren-box {
    left: 0px;
    top: 52px;
  }

  .top-box .btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  h3{
    font-size: 28px;
  }

  .exp-rows-text {
    font-size: 24px;
    padding: 0px 26px;
  }

  .program-box .row .col-12:first-child{
    margin-bottom: 60px;
  }

  .confa-bx .text-bx .t2 {
    font-size: 18px;
  }

  .confa-bx {
    padding: 130px 50px 75px;
  }
  
  .search-box .frame .t1 {
    font-size: 18px;
  }

}

.first-head-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-head-row{
  width: 100%;
  padding-top: 30px;
}

.first-head-row .header-login-link{
  margin-right: 20px;
}

.header-signup{
  height: 50px;
}

.second-head-row .nav-links{
  width: 100%;
}

.second-head-row .nav-links .nav-links-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-box .container{
  position: relative;
}

.bottom-box .container{
  position: relative;
}

.bottom-box .container .uz7{
  top: -38px;
  left: 100px;
  transform: rotate(45deg);
}

@media screen and (max-width: 767px){
  .search-box .list li {
    margin: 10px 10px -10px;
    width: 200px;
  }

  .search-box .frame {
    padding: 10px 10px;
  }

  .experience-box{
    padding: 60px 30px 10px;
  }

  .exp-rows{
    margin: 100px 0px;
  }

  .exp-rows-img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .exp-rows-text{
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .history-box .tabs {
    padding: 20px 20px !important;
  }

  .tabs .bx {
    width: 58px;
  }

  .tabs:after {
    height: 187px;
    width: 102%;
    left: -9px;
    bottom: 15px;
  }
  .confa-bx {
    padding: 60px 20px 30px;
  }
  .confa-bx .text-bx .t2 br{
    display: none;
  }
  .mclaren-box {
    height: 274px;
  }
  .slider-info {
    padding: 30px 20px;
  }
  .slider-arrows {
    font-size: 30px;
    position: relative;
    top: -10px;
  }
  .tooltip1 { 
    top: 52px !important;
  }
  .tooltip2{
    top: 62px !important;
    left: 62px !important;
  }
}

@media screen and (max-width: 510px){
  .tabs .bx {
    width: 35px;
  }
  .search-box .text-bx p br{
    display: none !important;
  }
}

@media screen and (max-width: 460px){
  .top-box-title span {
    font-size: 50px;
  }
  .search-box .list li {
    width: 80%;
  }
  .top-box-title {
    font-size: 28px;
    line-height: 32px;
  }
  .navbar {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .mclaren-box {
    height: 234px;
  }
  .history-box .text p {
  padding: 0px 10px;
  }

  .tabs li:nth-child(1) .bx {
    height: 35px;
    margin-top: 125px;
  }
  
  .tabs li:nth-child(2) .bx {
    height: 50px;
    margin-top: 110px;
  }
  
  .tabs li:nth-child(3) .bx {
    height: 65px;
    margin-top: 95px; 
  }
  
  .tabs li:nth-child(4) .bx {
    height: 80px;
    margin-top: 80px;
  }
  
  .tabs li:nth-child(5) .bx {
    height: 95px;
    margin-top: 65px;
  }
  
  .tabs li:nth-child(6) .bx {
    height: 110px;
    margin-top: 50px;
  }
  
  .tabs li:nth-child(7) .bx {
    height: 125px;
    margin-top: 35px;
  }
  .box-data {
    padding-top: 22px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 22px;
    text-align: left;
    width: 250px;
  }
  .confa-bx .text-bx .t1 {
    font-size: 28px;
  }

  .bottom-bx .text h3 {
    font-weight: bold;
    font-size: 28px;
  }
  .social img{
    width: 50px !important;
  }
  .social li {
    margin: 0 15px;
  }
}

@media screen and (max-width: 400px){
  .mclaren-box {
    height: 200px;
  }
  .top-box-desc br{
    display: none;
  }
  .exp-rows-img {
    width: 75%;
  }
  .bottom-bx .text h3 {
    font-size: 20px;
  }
  .nav-links-list li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .nav-links > * {
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
  }
  .box-data {
    width: 210px;
  }
}

.tooltip{
  opacity: 0;

  background: #1C2125;
  padding: 5px;
  border-radius: 5px;
  color: #FFF;

  transition: .3s ease;

  font-size: 12px;
  width: 114px;
  text-align: center;
}

.tooltip::before{
  content: '';
  transform: rotate(-45deg);
  position: absolute;
  top: 20%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border: 6px solid #1C2125;
  z-index: -1;
}

.buttons-group{
  position:relative;
}

.tooltip1{
  position: absolute;
  top: 33px;
  left: -35px;
}

.tooltip2{
  position: absolute;
  top: 62px;
  left: 2px;
}

.top-box .container{
  position: relative;
}

.uz {
  position: absolute;
  z-index: 2;
  transition: top 0.5s ease, left 0.5s ease;
}

.uz1 {
  width: 50px !important;
}

.uz2 {
  width: 50px !important;
}

.uz3 {
  width: 50px !important;
}

.uz4 {
  width: 50px !important;
}

.uz5 {
  width:150px !important;
}

.uz6 {
  width: 150px !important;
}

.uz7{
  width: 100px !important;
  top: -38px;
  right: 79px;
}

.history-box .uz2{
  width: 70px !important;
}

.history-box .uz3{
  width: 150px !important;
}

.search-box .uz1{
  width: 70px !important;
}

.krest1 {
  width: 32px;
  height: 32px;
  left: 160px;
  top: -180px;
  z-index: 10;
}

.krest1::before, .krest2::before{
  position: absolute;
  height: 32px;
  border: 3px solid #FF010B;
  border-radius: 10px;
  content: '';
  transform: rotate(-65deg);
  top: -13px;
  left: 13px;
  animation: changecolor 2s infinite;
}

.krest1::after, .krest2::after{
  position: absolute;
  width: 32px;
  border: 3px solid #FF010B;
  border-radius: 10px;
  content: '';
  transform: rotate(-65deg);
  animation: changecolor 2s infinite;
}

.krest2 {
  width: 24px;
  height: 24px;
  left: 210px;
  top: 370px;
}

.krug1 {
  width: 21px;
  height: 21px;
  border-width: 5px;
  right: -15px;
  top: 120px;
  border: 5px solid #FF010B;
  border-radius: 20px;
  animation: changecolor 1s infinite;
}

.krug2 {
  width: 21px;
  height: 21px;
  border: 5px solid #FF010B;
  left: 300px;
  top: -50px;
  border-radius: 20px;
  animation: changecolor 3s infinite;
}